<div class='page auth-page'>
  <form class='auth-form' onsubmit='false'>
    <h2 class='auth-form__title'>Регистрация</h2>

    <div class='auth-form__fields'>
      {{{Textbox label='Почта' type='email' name='email'}}}
      {{{Textbox label='Логин' type='text' name='login'}}}
      {{{Textbox label='Имя' type='text' name='first_name'}}}
      {{{Textbox label='Фамилия' type='text' name='second_name'}}}
      {{{Textbox label='Телефон' type='tel' name='phone'}}}
      {{{Textbox label='Пароль' type='password' name='password'}}}
      {{{Textbox label='Пароль (ещё раз)' type='password'}}}
    </div>

    <div class='auth-form__btns'>
      <a class='btn btn--primary btn--flex btn--xl' href='#/chat'>Зарегистрироваться</a>
      <a class='btn btn--ghost btn--flex btn--xl' href='#/login'>Войти</a>
    </div>
  </form>
</div>
