<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="page profile-page">
    <figure>
      <img class="profile__image" src="{{image}}" alt="{{name}}" />
      <figcaption class="profile__username">{{username}}</figcaption>
    </figure>

    <div class="table-list">
      <div class="table-list__row">
        <span class="table-list__header">Почта</span>
        <span class="table-list__value">{{email}}</span>
      </div>
      <div class="table-list__row">
        <span class="table-list__header">Логин</span>
        <span class="table-list__value">{{email}}</span>
      </div>
      <div class="table-list__row">
        <span class="table-list__header">Имя</span>
        <span class="table-list__value">{{name}}</span>
      </div>
      <div class="table-list__row">
        <span class="table-list__header">Фамилия</span>
        <span class="table-list__value">{{lastname}}</span>
      </div>
      <div class="table-list__row">
        <span class="table-list__header">Имя в чате</span>
        <span class="table-list__value">{{username}}</span>
      </div>
      <div class="table-list__row">
        <span class="table-list__header">Телефон</span>
        <span class="table-list__value">{{email}}</span>
      </div>
    </div>

    <div class="profile__btns">
      <a class="btn btn--ghost btn--wide btn--xl" href="#/chat">Назад</a>
      <a class="btn btn--ghost btn--wide btn--xl btn--danger" href="#/login">Выйти</a>
    </div>
  </div>
</body>

</html>
