<div class="textbox">
  <label>
    <input type="{{type}}" class="textbox__input" placeholder="{{label}}" value="{{value}}" name="{{name}}"/>
    <div class="textbox__label">{{label}}</div>
  </label>
  <div class="textbox__error">{{error}}</div>
</div>
